<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/add_tweet">
    	<div>
    		<h2>hello</h2> {{name}}
    		<p>tweet your opinion here</p>
    	<div>
    		<label>title of the tweet here*</label>
            	<div>
                	<input type="title"  name="title" maxlength="280">
           		</div>
        </div>
        <div>
    		<label>tweet here*</label>
            	<div>
                	<input type="tweet"  name="tweet" maxlength="280">
           		</div>
        </div>
        <br>
        <div>
            <input type="submit" value="Tweet!" />
        </div>
    </form>
</body>
</html>